.sidenav-container {
  height: calc(100% - 4rem);

  &.mobile {
    height: calc(100% - 3.5rem);
  }
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.header {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.main {
  margin: 0 auto;
  padding: 2rem 1.5rem;
  max-width: 1024px;
}

.title {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  letter-spacing: 0.1rem;

  &.mobile {
    gap: 0.2rem;
    letter-spacing: 0;
  }
}
