<mat-toolbar color="primary">
  <header class="header">
    <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle()"
      *ngIf="isHandset$ | async">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <h1 class="title" [class.mobile]="isHandset$ | async">
      Make me LOUDA
      <mat-icon aria-hidden="false" aria-label="Example home icon" color="accent"
        >favorite</mat-icon
      >
    </h1>
    <button
      mat-raised-button
      color="warn"
      (click)="handleLogOut()"
      class="btn"
      [class.mobile]="isHandset$ | async">
      wyloguj
    </button>
  </header>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container" [class.mobile]="isHandset$ | async">
  <mat-sidenav
    #drawer
    class="sidenav"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'push' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <span class="separator"></span>
    <button
      mat-raised-button
      color="warn"
      (click)="handleLogOut()"
      class="btn center"
      [class.mobile]="(isHandset$ | async) === false">
      wyloguj
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <main class="main">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
